<h1 class="hero-title">
  <span class="hero-title-word" *ngFor="let text of title">
    <i class="hero-title-letter" *ngFor="let letter of text"> {{ letter }} </i>
  </span>
</h1>

<div class="hero-award-container">
  <img
    class="hero-award"
    src="assets/images/awards/award-skyline-excellence.png"
    alt=""
  />
  <img
    class="hero-award"
    src="assets/images/awards/award-best-mass-market-winner.png"
    alt=""
  />
</div>

<div class="hero-image-container" #imageContainer>
  <picture class="hero-image --{{ image }}" *ngFor="let image of heroImages">
    <source
      class="hero-image-src"
      srcset="assets/images/hero/hero-{{ image }}.webp"
      type="image/webp"
    />
    <source
      class="hero-image-src"
      srcset="assets/images/hero/hero-{{ image }}.png"
      type="image/png"
    />
    <img
      class="hero-image-src"
      src="assets/images/hero/hero-{{ image }}.png"
      [alt]="image"
    />
  </picture>
</div>

<button class="hero-scroller" (click)="goDown($event)">
  SCROLL
  <i class="hero-scroller-dot"></i>
  <i class="hero-scroller-arrow"></i>
</button>
