@import 'base';

.location-upper {
  background-image: linear-gradient(
    to bottom,
    color('primary900'),
    color('primary600')
  );
}

.location-header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding-bottom: space(2);

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.location-title {
  padding-left: space(4);

  @include tablet {
    margin-bottom: space(2);
  }

  @include mobile {
    padding-left: space(2);
  }
}

.location-description {
  box-sizing: content-box;
  padding-left: space(4);
  padding-right: space(2);
  position: absolute;
  top: 100%;
  left: 0;
  width: clamp(#{rem(150)}, 20vmax, 100%);
  line-height: 1.6;
  color: color('white');

  @include tablet {
    position: static;
    width: auto;
  }

  @include mobile {
    padding-left: space(2);
  }
}

.location-map-container {
  display: flex;
  padding-top: space(4);
  padding-bottom: space(4);
}

.location-map-container {
  position: relative;
  margin: auto;
  width: clamp(#{rem(300)}, 50vmax, 100%);
}

.location-map-marker-container {
  $marker-size: rem(24);
  $marker-shine: rem(12);

  position: absolute;
  z-index: 1;
  width: $marker-size;
  top: calc(62% - #{$marker-size / 2});
  left: calc(56% - #{$marker-size / 2});

  &::before {
    @include round($marker-shine);

    content: '';
    position: absolute;
    background-color: color('white');
    top: calc(50% - #{$marker-shine / 2});
    left: calc(50% - #{$marker-shine / 2});
    filter: blur(6px);
  }
}

.location-map-marker {
  filter: grayscale(1) brightness(2);
}

.location-map-marker-shine {
  $shine-size: rem(40);
  $bar-size: rem(120);

  @include round($shine-size);

  position: absolute;
  border: 1px solid color('white-t1');
  top: calc(50% - #{$shine-size / 2});
  left: calc(50% - #{$shine-size / 2});
  animation: spin 3s linear infinite;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: $bar-size;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - #{$bar-size / 2});
    background-image: linear-gradient(
      to right,
      transparent,
      color('white-t1'),
      transparent
    );
  }

  &::before {
    transform: rotate(135deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.location-transport {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: space(3) 0 space(4);
  background-color: color('primary600');
}

.location-transport-header {
  margin-bottom: space(3);
  text-align: center;
  position: relative;
}

.location-transport-split {
  $split-size: rem(40);

  @include round(4px);

  position: absolute;
  top: calc(50% - 2px);
  background-color: color('white');

  &::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 2px;
    width: $split-size;
    height: 2px;
    background-image: linear-gradient(to left, color('white-t1'), transparent);
  }

  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: $split-size;
    top: calc(50% - #{$split-size / 2});
    right: 1px;
    background-image: linear-gradient(
      to bottom,
      transparent,
      color('white-t1'),
      transparent
    );
  }

  &.--left {
    right: calc(100% + #{space(2)});
  }

  &.--right {
    left: calc(100% + #{space(2)});
    transform: scaleX(-1);
  }
}

.location-transport-title {
  font-size: font-size(3);
  color: color('primary');
  margin-bottom: space(2);
  position: relative;
}

.location-transport-subtitle {
  font-size: font-size(2);
  color: color('white');
}

.location-transport-map-container {
  width: 100%;
  overflow: hidden;
  padding-inline: space(2);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: rem(48);
    background-image: linear-gradient(
      to left,
      color('primary600'),
      transparent
    );
  }
}

.location-transport-map {
  height: rem(188);
  max-width: none;
  display: block;
  margin: auto;
}
