<section class="location-upper">
  <header class="location-header">
    <h2 class="location-title title">IDEAL<br />LOCATION</h2>

    <p class="location-description">
      A rare chance to own a new address in a matured KL suburb with established
      amenities, strategically located approximately
      <strong>800m from an MRT2</strong> station with shuttle bus provided and
      only 9km from Mid Valley City and 13km from the city centre.
    </p>
  </header>

  <div class="location-map-section">
    <figure class="location-map-container">
      <div class="location-map-marker-container">
        <i class="location-map-marker-shine"></i>
        <img
          src="assets/images/logo.png"
          alt="M Oscar location marker"
          class="location-map-marker"
        />
      </div>
      <img
        src="assets/images/maps/map.png"
        alt="M Oscar location"
        class="location-map"
      />
    </figure>
  </div>
</section>

<section class="location-transport">
  <header class="location-transport-header">
    <i class="location-transport-split --left"></i>
    <i class="location-transport-split --right"></i>

    <h3 class="location-transport-title">Nearest MRT2 station</h3>
    <p class="location-transport-subtitle">Taman Naga Emas</p>
  </header>

  <div class="location-transport-map-container">
    <img
      src="assets/images/maps/transport.png"
      alt="Taman Naga Emas MRT2 station"
      class="location-transport-map"
    />
  </div>
</section>
