<header class="plans-header">
  <h2 class="plans-title title">FEATURING</h2>
</header>

<section class="plans-section container">
  <header class="plans-facility-header">
    <h3 class="plans-facility-title subtitle">35 FACILITIES</h3>
    <p class="plans-section-description">
      Facility Podium located at 7th floor
    </p>
  </header>

  <div class="plans-facility-content">
    <figure class="plans-facility-map-container">
      <img
        src="assets/images/maps/facility-plan.png"
        alt="facilities-plan"
        class="plans-facility-map"
      />

      <div
        *ngFor="let preview of facilityPreviews"
        class="plans-facility-preview"
        [style.--x]="preview.x"
        [style.--y]="preview.y"
      >
        <div class="plans-facility-preview-content">
          <i class="plans-facility-preview-id">{{ preview.id }}</i>

          <p class="plans-facility-preview-title">
            {{ preview.name }}
          </p>

          <figure class="plans-facility-preview-image-container">
            <img
              [src]="preview.src"
              alt=""
              class="plans-facility-preview-image"
            />
          </figure>

          <img
            class="plans-facility-preview-loader"
            src="assets/images/logo.png"
            alt=""
          />
        </div>
      </div>
    </figure>

    <ol class="plans-facility-list">
      <li class="plans-facility" *ngFor="let facility of facilities">
        {{ facility }}
      </li>
    </ol>
  </div>
</section>

<section class="plans-section container">
  <header class="plans-unit-header">
    <h3 class="plans-section-title subtitle">4 UNIT TYPES</h3>
    <p class="plans-section-description">708 sf. to 1198 sf.</p>
  </header>

  <div class="plans-units">
    <article class="plans-unit" *ngFor="let unit of units">
      <figure class="plans-unit-image-container --{{ unit.id }}">
        <img
          src="assets/images/units/floorplan-unit-{{ unit.id }}.png"
          [alt]="unit.id"
          class="plans-unit-image"
          title="M Oscar unit {{ unit.id }}"
        />

        <div class="plans-unit-image-text --width">
          <p class="plans-unit-image-text-value">{{ unit.width }} mm</p>
        </div>
        <div class="plans-unit-image-text --height">
          <p class="plans-unit-image-text-value">{{ unit.height }} mm</p>
        </div>
        <p class="plans-unit-exclusive" *ngIf="unit.exclusive">
          {{ unit.exclusive }}
        </p>
        <p class="plans-unit-breakable" *ngIf="unit.breakable">
          Breakable wall
        </p>
      </figure>

      <div class="plans-unit-content">
        <h3 class="plans-unit-type">{{ unit.id }}</h3>

        <ul class="plans-unit-info">
          <li class="plans-unit-info-item">
            <p class="plans-unit-size">
              {{ unit.size }}
            </p>

            <p class="plans-unit-dualkey" *ngIf="unit.dualKey">Dual key</p>
          </li>

          <li class="plans-unit-info-item">
            <svg
              class="plans-unit-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M496 344h-8v-64a32.042 32.042 0 00-32-32V112a32.042 32.042 0 00-32-32H88a32.042 32.042 0 00-32 32v136a32.042 32.042 0 00-32 32v64h-8a8 8 0 00-8 8v32a8 8 0 008 8h8v32a8 8 0 008 8h24a7.99 7.99 0 007.84-6.43L70.56 392h370.88l6.72 33.57A7.99 7.99 0 00456 432h24a8 8 0 008-8v-32h8a8 8 0 008-8v-32a8 8 0 00-8-8zM72 112a16.021 16.021 0 0116-16h336a16.021 16.021 0 0116 16v136h-16v-32a32.042 32.042 0 00-32-32h-96a32.042 32.042 0 00-32 32v32h-16v-32a32.042 32.042 0 00-32-32h-96a32.042 32.042 0 00-32 32v32H72zm336 104v32H280v-32a16.021 16.021 0 0116-16h96a16.021 16.021 0 0116 16zm-176 0v32H104v-32a16.021 16.021 0 0116-16h96a16.021 16.021 0 0116 16zM40 280a16.021 16.021 0 0116-16h400a16.021 16.021 0 0116 16v64H40zm9.44 136H40v-24h14.24zM472 416h-9.44l-4.8-24H472zm16-40H24v-16h464z"
              />
            </svg>

            <p class="plans-unit-info-label">
              {{ unit.bedrooms }}
            </p>
          </li>

          <li class="plans-unit-info-item">
            <svg
              class="plans-unit-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M496 256H96v-16a8 8 0 00-8-8h-8v-24h16v8a8 8 0 0016 0v-32a8 8 0 00-16 0v8H80V96a32.03 32.03 0 0132-32h32a32.03 32.03 0 0132 32v.68A48.069 48.069 0 00136 144a8 8 0 008 8h80a8 8 0 008-8 48.069 48.069 0 00-40-47.32V96a48.051 48.051 0 00-48-48h-32a48.051 48.051 0 00-48 48v136h-8a8 8 0 00-8 8v16H16a8 8 0 00-8 8v24a8 8 0 008 8h24v96a48.069 48.069 0 0040 47.32V456a8 8 0 0016 0v-16h320v16a8 8 0 0016 0v-16.68A48.069 48.069 0 00472 392v-96h24a8 8 0 008-8v-24a8 8 0 00-8-8zM184 112a32.058 32.058 0 0130.99 24h-61.98A32.058 32.058 0 01184 112zM64 248h16v8H64zm392 144a32.03 32.03 0 01-32 32H88a32.03 32.03 0 01-32-32v-96h400zm32-112H24v-8h464z"
              />
              <path
                d="M80 328h64a8 8 0 000-16H80a8 8 0 000 16zM168 328h8a8 8 0 000-16h-8a8 8 0 000 16z"
              />
            </svg>

            <p class="plans-unit-info-label">
              {{ unit.bathrooms }}
            </p>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>

<section class="plans-section container">
  <header class="plans-master-header">
    <h3 class="plans-section-title subtitle">2 TOWERS</h3>
    <p class="plans-section-description">
      North & South towers, 39 floors, 910 units
    </p>
  </header>

  <div class="plans-master-content">
    <div class="plans-master-map-container">
      <img
        src="assets/images/maps/master-plan.png"
        alt="M Oscar master plan"
        class="plans-master-map"
      />

      <img
        src="assets/images/maps/master-plan-compass.png"
        alt="compass"
        class="plans-master-map-compass"
      />

      <ul class="plans-master-map-labels">
        <li
          class="plans-master-map-label"
          [style.--label-color]="label.color"
          *ngFor="let label of masterLabels"
        >
          Type {{ label.id }}
        </li>
      </ul>

      <div class="plans-master-map-note --north">
        <p class="plans-master-map-note-title">NORTH TOWER</p>
        <p class="plans-master-map-note-subtitle">Facing Kuala Lumpur</p>
      </div>

      <div class="plans-master-map-note --south">
        <p class="plans-master-map-note-title">SOUTH TOWER</p>
        <p class="plans-master-map-note-subtitle">Facing Sri Petaling</p>
      </div>
    </div>
  </div>
</section>
