@import 'base';

.plans {
  display: block;
  padding: space(2) 0 space(5);
  background-color: color('primary600');
}

.plans-header {
  display: flex;
  justify-content: center;
  margin-bottom: space(4);
}

.plans-section {
  & + & {
    margin-top: space(5);
  }
}

.plans-section-title {
  margin-bottom: space(1);
}

.plans-section-description {
  font-size: font-size(2);
}
