@import 'base';

.unit-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: space(4);
}

.units {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mobile {
    align-items: stretch;
  }
}

.unit {
  --image-text-gap: #{space(3)};
  --image-size: 24vmax;
  --image-size-factor: 1;

  display: grid;
  grid-gap: space(1) space(4);
  grid-template-columns: calc(var(--image-size) * var(--image-size-factor)) rem(
      160
    );
  grid-template-areas:
    'f i'
    'c i';

  &.--B {
    --image-size: 26vmax;
  }

  &.--C {
    --image-size: 30vmax;
  }

  &.--D {
    --image-size: 32vmax;
  }

  @include tablet {
    --image-size-factor: 1.3;
  }

  @include mobile {
    --image-size-factor: 1.6;

    grid-template-columns: 1fr;
    grid-template-areas:
      'f'
      'i'
      'c';
  }

  & + & {
    margin-top: space(6);
  }

  &:nth-child(even) {
    margin-left: auto;
  }
}

.unit-main {
  display: flex;
  max-width: 100%;

  &:nth-child(even) {
    align-self: flex-end;
    justify-content: flex-end;
  }

  & + & {
    margin-top: space(4);
  }

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &:nth-child(even) {
      align-self: center;
    }
  }
}

.unit-image-container {
  grid-area: f;
  position: relative;
  display: grid;
  grid-gap: space(2);
  grid-template-columns: var(--image-text-gap) 1fr;
  grid-template-rows: var(--image-text-gap) 1fr var(--image-text-gap);
  grid-template-areas:
    's-tl w'
    'h i'
    's-bl e';
}

.unit-image {
  grid-area: i;
}

.unit-image-text {
  @include centerize('flex');

  color: color('primary');
  font-size: font-size(2);
  position: relative;
  white-space: nowrap;

  &.--width,
  &.--height {
    &::before {
      will-change: transform;
    }
  }

  &.--width {
    @include square(100%);

    grid-area: w;

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      background-image: linear-gradient(
        to right,
        color('transparent'),
        color('primary'),
        color('transparent')
      );
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &.--height {
    @include square(100%);

    grid-area: h;

    &::before {
      content: '';
      width: 1px;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        color('transparent'),
        color('primary'),
        color('transparent')
      );
      position: absolute;
      top: 0;
      right: 0;
    }

    .unit-image-text-value {
      transform: rotate(-90deg);
    }
  }
}

.unit-exclusive {
  @include typography('tiny');

  grid-area: e;
  text-align: right;
}

.unit-breakable {
  $icon-height: rem(14);

  --icon-width: #{rem(30)};

  @include typography('tiny');

  position: absolute;
  grid-area: i;
  top: calc(100% + #{space(0)});
  left: 0;
  color: color('primary');
  padding-left: calc(var(--icon-width) + #{space(1)});

  &::before {
    content: '';
    position: absolute;
    width: var(--icon-width);
    height: $icon-height;
    background-color: color('red');
    border: 1px solid color('primary900');
    left: 0;
    top: calc(50% - #{$icon-height / 2});
  }
}

.unit-content {
  grid-area: i;
}

.unit-type {
  $type-size: rem(128);

  @include typography('fat');

  font-size: font-size(8);
  text-shadow: 0 0 rem(8) color('white-t7');
  text-align: center;
  position: relative;
  padding: space(2) space(1);
  width: $type-size;
  height: $type-size;
  line-height: calc(#{$type-size} - #{space(2)} * 2);
  margin: auto;

  @include corners;
}

.unit-info {
  padding: space(2) 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(3);

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }
}

.unit-info-item {
  @include centerize;

  padding: space(1);
  position: relative;

  & + & {
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-image: linear-gradient(
        to right,
        color('transparent'),
        color('primary900'),
        color('transparent')
      );
      bottom: calc(100% + #{space(2)} - 1px);
      right: 0;
    }

    @include mobile {
      &::before {
        height: 100%;
        width: 2px;
        background-image: linear-gradient(
          to bottom,
          color('transparent'),
          color('primary900'),
          color('transparent')
        );
        bottom: 0;
        right: calc(100% + #{space(2)} - 1px);
      }
    }
  }
}

.unit-size {
  font-weight: bold;
  color: color('primary');
  letter-spacing: letter-spacing(1);
}

.unit-dualkey {
  margin-top: space(1);
  font-size: font-size(2);
  text-transform: uppercase;
}

.unit-icon {
  width: rem(48);
  fill: color('primary');
  margin-bottom: space(2);
}

.unit-info-label {
  font-size: font-size(4);
  font-weight: bold;
}

.unit-concepts {
  position: relative;
  grid-area: c;
  display: flex;
  justify-content: center;
  margin-left: var(--image-text-gap);

  @include mobile {
    margin-left: 0;
  }
}

.unit-concept-item {
  & + & {
    margin-left: space(3);
  }

  &:hover {
    .unit-concept-thumbnail-decorator {
      opacity: 1;
    }

    .unit-concept-thumbnail-image {
      opacity: 0.3;
    }

    .unit-concept-view {
      opacity: 1;
      transform: none;
    }

    .unit-concept-description {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      transition-delay: 0.2s;
    }
  }
}

.unit-concept-thumbnail {
  position: relative;
  width: rem(48);
  height: rem(48);
  cursor: pointer;
  border-radius: 50%;
  background-color: color('primary900');

  &::before {
    @include round(calc(100% + #{space(1)}));

    content: '';
    position: absolute;
    top: -#{space(0)};
    left: -#{space(0)};
    border: 2px solid color('primary');
  }
}

.unit-concept-thumbnail-decorator {
  $shine-size: rem(40);
  @include round(rem(4));

  position: absolute;
  top: 4px;
  left: calc(50% - 2px);
  background-color: color('white');
  transform-origin: center rem(18);
  animation: spin 3s linear infinite;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    width: $shine-size;
    height: 2px;
    top: 1px;
    left: calc(50% - #{$shine-size / 2});
    background-image: linear-gradient(
      to right,
      color('transparent'),
      color('white-t1'),
      color('transparent')
    );
    animation: spin 2s linear infinite;
  }
}

.unit-concept-thumbnail-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.2s ease;
}

.unit-concept-view {
  position: absolute;
  width: calc(100% - #{space(2)});
  bottom: calc(100% + #{space(3)});
  left: space(1);
  z-index: 1;
  transition: transform 0.16s ease, opacity 0.24s ease;
  transition-delay: 0.1s;
  transform: translateY(#{rem(8)});
  transform-origin: bottom;
  opacity: 0;
  background-color: color('primary600');
  pointer-events: none;
  box-shadow: 0 0 8px #{color('primary900-t4')},
    0 0 24px #{color('primary900-t6')}, 0 12px 12px #{color('primary900-t6')};

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background-image: linear-gradient(
      350deg,
      #{color('primary900')},
      color('transparent') 60%
    );
  }
}

.unit-concept-view-image {
  filter: sepia(30%);
  border-radius: 4px;
}

.unit-concept-description {
  font-size: font-size(2);
  position: absolute;
  bottom: space(2);
  right: space(2);
  z-index: 2;
  line-height: 2;
  letter-spacing: letter-spacing(1);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: clip-path 0.2s cubic-bezier(0.16, 0.09, 0, 0.91);
}
