<app-header
  (onGoTo)="scrollTo($event)"
  [isDisabled]="isScrolling$ | async"
></app-header>

<main class="page-main" #top>
  <app-hero id="home" #heroCmp></app-hero>

  <div class="anchor app-gallery" id="concept" #concept>
    <app-gallery (activeImage)="setGalleryImage($event)"></app-gallery>

    <div class="app-photo">
      <app-photo [image]="activeGalleryImage$ | async"></app-photo>

      <img
        class="background --stars"
        src="assets/images/concept/stars.png"
        alt=""
      />
    </div>

    <div class="app-concept">
      <app-concept></app-concept>

      <img
        class="background --canyons"
        src="assets/images/concept/canyons.png"
        alt=""
      />
      <img
        class="background --water"
        src="assets/images/concept/water.png"
        alt=""
      />
    </div>

    <app-location></app-location>
  </div>

  <div class="anchor app-features" id="features" #features>
    <app-plans></app-plans>
  </div>

  <div class="app-final">
    <i class="app-final-deco"></i>
    <app-awards></app-awards>

    <app-contacts></app-contacts>

    <div class="anchor" id="developer" #developer>
      <app-developer></app-developer>
    </div>
  </div>

  <app-footer (onGoTop)="scrollTo($event)"></app-footer>

  <app-credit></app-credit>
</main>
