@import 'base';

.developer {
  display: block;
  padding: space(2) 0 0;
}

.developer-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: space(4) 0;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 40%;
    left: 30%;
    top: 0;
    background-image: linear-gradient(
      to right,
      transparent,
      color('primary300'),
      transparent
    );
  }

  @include mobile {
    padding-left: space(2);
    padding-right: space(2);
  }
}

.developer-title {
  color: color('red');
  text-shadow: none;
  background-image: linear-gradient(
    -164deg,
    lighten(color('red'), 18%),
    color('red'),
    darken(color('red'), 18%)
  );
}

.developer-subtitle {
  $deco-size: rem(12);

  @include typography('tiny');

  font-weight: bold;
  margin-bottom: space(4);
  position: relative;
  padding-inline: space(3);

  &::before,
  &::after {
    @include square($deco-size);

    content: '';
    position: absolute;
    border: 1px solid color('primary300');
    top: calc(50% - #{$deco-size / 2});
    animation: developer-caret 2s cubic-bezier(0.2, 0.15, 0, 1.43) infinite;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    animation-delay: -0.4s;
  }
}

.developer-description {
  width: clamp(#{rem(300)}, 100%, #{rem(960)});
  line-height: 1.6;
}

.developer-project-title {
  margin-bottom: space(1);
}

.developer-project-description {
  font-size: font-size(2);
}

.developer-project-list {
  --project-card-size: #{rem(240)};

  margin: space(4) auto;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--project-card-size), 1fr)
  );
  grid-gap: space(2);

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.developer-project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: space(2);

  @include tablet {
    grid-template-columns: var(--project-card-size) 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.developer-project-link {
  @include interact {
    .developer-project-image-container {
      &::before {
        opacity: 1;
        transition-delay: 0;
      }

      &::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition-delay: 0.1s;
      }
    }
  }
}

.developer-project-image-container {
  position: relative;
  display: flex;

  &::before {
    @include full-abs;

    content: '';
    background-image: linear-gradient(
      350deg,
      #{color('primary900')},
      transparent 40%
    );
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.4s ease 0.1s;
    z-index: 1;
  }

  &::after {
    content: 'VIEW WEBSITE';
    position: absolute;
    bottom: space(2);
    right: space(2);
    z-index: 3;
    color: color('primary');
    font-size: font-size(1);
    letter-spacing: letter-spacing(1);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 0.3s cubic-bezier(0.16, 0.09, 0, 0.91);
  }

  @include tablet {
    &::before {
      opacity: 1;
    }

    &::after {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.developer-project-image {
  @include full;

  border-radius: 4px;
  filter: sepia(20%);
  object-fit: cover;
}

.developer-project-content {
  position: relative;
  padding: space(2);

  @include corners($color: color('primary600'));
}

.developer-project-name {
  @include typography('fat');

  font-size: font-size(6);
  margin-bottom: space(2);
}

.developer-project-value {
  position: relative;
  font-size: font-size(2);
  padding-left: space(3);
  line-height: 1.6;

  & + & {
    margin-top: space(1);
  }
}

.developer-project-icon {
  width: rem(16);
  position: absolute;
  top: 0;
  left: space(0);
}
