@import 'base';

.facility-header {
  margin-bottom: space(4);
}

.facility-content {
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: column;
  }
}

.facility-map-container {
  position: relative;
  width: 28vmax;
  margin-right: space(6);

  @include tablet {
    width: clamp(#{rem(280)}, 100%, 42vmax);
    margin-right: 0;
    margin-bottom: space(4);
  }

  @include mobile {
    width: 100%;
  }
}

.facility-list {
  counter-reset: facility-list;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, max-content);
  grid-gap: space(2);
  grid-template-rows: repeat(18, min-content);
  align-self: start;

  @include tablet {
    margin: auto;
  }

  @include mobile {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

.facility {
  position: relative;
  counter-increment: facility-list;
  color: color('white');
  padding-left: space(3);
  line-height: rem(20);

  &::before {
    @include round(calc(#{rem(16)} + 4px));

    content: counter(facility-list);
    position: absolute;
    top: 0;
    left: 0;
    font-size: font-size(1);
    text-align: center;
    line-height: rem(16);
    border: 2px solid color('primary');
  }
}

.facility-preview {
  --preview-size: 1.4vw;

  position: absolute;
  width: var(--preview-size);
  height: var(--preview-size);
  border-radius: 50%;
  top: calc(var(--y, 0) * 1%);
  left: calc(var(--x, 0) * 1%);
  cursor: pointer;

  &::before {
    @include full-abs;

    content: '';
    border-radius: 50%;
    background-color: color('white-t7');
    animation: ripple-pulse 2s ease infinite;
  }

  &:hover {
    .facility-preview-content {
      --fade-dur: 0.24s;

      transition-delay: 0.1s;
      transform: none;
      opacity: 1;
    }

    .facility-preview-title {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      transition-delay: 0.2s;
    }
  }

  @for $n from 1 through 3 {
    &:nth-child(#{$n}n)::before {
      animation-delay: -0.28s * $n;
    }
  }

  @include tablet {
    --preview-size: 3vw;
  }

  @include mobile {
    --preview-size: 5vw;
  }
}

.facility-preview-content {
  --fade-dur: 0.18s;
  @include no-interaction;

  position: absolute;
  top: calc(100% + #{space(1)});
  left: calc(100% + #{space(1)});
  width: 30vmin;
  display: flex;
  border-radius: 4px;
  transition: transform 0.16s cubic-bezier(0.49, 0.55, 0.65, 1.15),
    opacity var(--fade-dur) ease;
  transition-delay: 0.1s;
  transform: scale(0.96) translateY(-#{rem(8)});
  transform-origin: top left;
  opacity: 0;
  background-color: color('primary600');
  z-index: 2;
  box-shadow: 0 0 8px #{color('primary900-t4')},
    0 0 24px #{color('primary900-t6')};

  @include tablet {
    width: 50vmin;
    position: fixed;
    top: calc(50% - 25vmin);
    left: calc(50% - 25vmin);
  }

  @include tablet {
    width: 80vmin;
    top: calc(50% - 40vmin);
    left: calc(50% - 40vmin);
  }
}

.facility-preview-loader {
  position: absolute;
  width: 3.6vmin;
  top: calc(50% - 2.2vmin);
  left: calc(50% - 1.8vmin);
  animation: fade-loader 1s ease infinite;
  will-change: opacity;
  z-index: 0;
}

.facility-preview-title {
  font-size: font-size(2);
  position: absolute;
  bottom: space(2);
  right: space(2);
  z-index: 2;
  line-height: 2;
  letter-spacing: letter-spacing(1);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: clip-path 0.2s cubic-bezier(0.16, 0.09, 0, 0.91);
}

.facility-preview-id {
  @include round(calc(#{rem(16)} + 4px));

  display: block;
  border-radius: 50%;
  border: 2px solid color('primary');
  font-size: font-size(1);
  line-height: rem(16);
  text-align: center;
  position: absolute;
  top: space(2);
  left: space(2);
  z-index: 2;
  background-color: color('primary900-t6');
}

.facility-preview-image-container {
  position: relative;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background-image: linear-gradient(
      350deg,
      #{color('primary900')},
      color('transparent') 60%
    );
  }
}

.facility-preview-image {
  filter: sepia(30%);
}
